@{
    ViewData["Title"] = "Home Page";
    // @model webapp.Models.Students;

   
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

 <table border="1">
     <thead>
         <tr>
            <th>Roll Number</th>
            <th>Name</th>
            <th>Age</th>
            <th>Grade</th>
        </tr>
     </thead>
     <tbody>
         
       @*   <tr>
             <td>@Model.rollNumber</td>
             <td>@Model.name</td>
             <td>@Model.age</td>
             <td>@Model.grade</td>
         </tr> *@
     </tbody>
 </table>

